:root {
  /* Шрифтовые размеры */
  font-size: 100%;
  line-height: 1.5;

  /* Шрифтовые пары */
  --font-heading: "Montserrat", sans-serif;
  --font-body: "Inter", sans-serif;
}

body {
  font-family: var(--font-body);
}



























/*body {*/
/*  background-image: repeating-linear-gradient(*/
/*    rgba(0, 188, 212, 0.5) 0,*/
/*    rgba(0, 188, 212, 0.5) 1px,*/
/*    transparent 1px,*/
/*    transparent 1rlh*/
/*  );*/
/*}*/
