---
import BaseHead from '../../components/base-head.astro';
import Footer from '../../components/footer.astro';
import Header from '../../components/header.astro';
import PostsList from '../../components/posts-list.astro';
import { SITE_TITLE } from '../../consts';
import { getCollection } from 'astro:content';

const digestEntries = await getCollection('blog', ({ id: postId }) => postId.startsWith('digest/'));
const posts = digestEntries.toSorted(
  (firstPost, secondPost) => secondPost.data.pubDate.valueOf() - firstPost.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="ru">
  <head>
    <BaseHead title={`Дайджесты | ${SITE_TITLE}`} description="Еженедельные дайджесты новостей из мира фронтенд-разработки" />
  </head>
  <body>
    <Header />
    <main>
      <h1 class="sr-only">Дайджесты</h1>
      <PostsList posts={posts} />
    </main>
    <Footer />
  </body>
</html> 