---
/* eslint-disable sort-imports */
import * as siteConsts from '../consts';
import BaseHead from '../components/base-head.astro';
import Footer from '../components/footer.astro';
import { getCollection } from 'astro:content';
import Header from '../components/header.astro';
import PostsList from '../components/posts-list.astro';

const allPosts = await getCollection('blog');
const posts = allPosts.toSorted(
	(firstPost, secondPost) => secondPost.data.pubDate.valueOf() - firstPost.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="ru">
	<head>
		<BaseHead title={siteConsts.SITE_TITLE} description={siteConsts.SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1 class="sr-only">Статьи</h1>
			<PostsList posts={posts} />
		</main>
		<Footer />
	</body>
</html>
