---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import DeveloperBanners from '../components/DeveloperBanners.astro';
import { getCollection } from 'astro:content';

const initiativeEntries = await getCollection('initiative');
const initiative = initiativeEntries[0];

if (!initiative) {
  return Astro.redirect('/404');
}

const { Content } = await initiative.render();
---

<html lang="ru">
  <head>
    <BaseHead title={initiative.data.title} description={initiative.data.description} />
  </head>
  <body>
    <Header />
    <main>
      <h1>{initiative.data.title}</h1>
      <p>{initiative.data.description}</p>
      <Content />

      <h2>Разработчики</h2>
      <DeveloperBanners />
    </main>
    <Footer />
  </body>
</html>
